.idea1 {
  width: 100%;
  margin: auto;
}
.whatisflashideas {
  margin: 0 3rem 10rem 3rem;
  @include flex(center, center, column);
  h1 {
    text-align: justify;
    font-size: $big;
    margin: 20rem 0 5rem 0;
  }
  p {
    text-align: justify;
    font-size: $text;
  }
}
.idea1-1 {
  @include flex(center, center, column);
  background: $blue-opacity;
  width: 100%;
  padding: 10rem 2rem 10rem 2rem;
  margin-top: 20rem;
  text-align: justify;
  h1 {
    font-size: $big;
    padding-bottom: 1rem;
  }
  p {
    font-size: $text;
  }
  .warning {
    font-size: $small;
    margin-top: 1rem;
  }
  video {
    padding: 5rem 0rem 10rem 0rem;
    width: 70%;
  }
}
.idea1-description {
  text-align: justify;
  width: 80%;
  h2 {
    font-size: $header3;
    margin-bottom: 1rem;
  }
  p {
    font-size: 2rem;
    margin-bottom: 3rem;
  }
  .reserch-data {
    margin-bottom: 0;
  }
  h3 {
    margin-bottom: 1rem;
    font-weight: lighter;
  }
}

@media screen and (max-width: 1100px) {
  .idea1-1 video {
    width: 100%;
  }
}
@media screen and (max-width: 846px) {
  .whatisflashideas {
    margin: 0 2rem 3rem 2rem;
    h1 {
      font-size: 3rem;
      margin: 3rem 0 3rem 0;
    }
    p {
      font-size: 1.8rem;
    }
  }
  .idea1 {
    .idea1-1 {
      margin-top: 0;
      padding-top: 3rem;
      padding-bottom: 3rem;
      h1 {
        font-size: 3rem;
      }
      p {
        font-size: 1.8rem;
      }
    }
    video {
      padding: 3rem 0 3rem 0;
    }
    .idea1-description {
      width: 100%;
    }
  }
}

@media screen and (max-width: 415px) {
  .idea1-1 h1 {
    font-size: 4rem;
  }
}
