/* Global*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: myriad-pro, sans-serif;
  background-color: #f8ece6;
  color: $red-text;
  overflow-wrap: break-word;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}

/* NAV SECTION */
.main-head {
  position: sticky;
  top: 0;
  background: #f8ece6;
  z-index: 2;
}
nav {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  scroll-padding-top: 20px;
  height: 10vh;
}
#logo {
  flex: 4 1 20rem;
  a {
    font-size: $header2;
    color: $red-text;
  }
}
.nav-links {
  display: flex;
  justify-content: space-around;
  flex: 1 1 30rem;
  a {
    color: #f13d3d;
    font-size: $header4;
  }
  img {
    width: 3rem;
  }
}

/* ABOUT SECTION */
#about {
  padding-top: 10rem;
  width: 90%;
  margin: auto;
}
.about-hero {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  background-color: #f800001a;
  border-radius: 10rem;
  @include flex(center, center, row);
}
.about-img {
  flex: 1 1 52rem;
  @include flex(center, center, column);
  .ina-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.about-text {
  flex: 1 2 48rem;
  @include flex(center, center, column);
  text-align: justify;
  padding: 3rem 3rem 3rem 3rem;
  h1 {
    font-size: $big;
    margin-bottom: 3rem;
  }
  p {
    font-size: $text;
  }
}

/* Gallery */
.projects {
  width: 90%;
  margin: 5rem auto 0 auto;
  background: #f800001a;
  border-radius: 10rem;

  h1 {
    text-align: center;
    padding-top: 10rem;
    font-size: $big;
  }

  .project-box {
    width: 95%;
    padding-top: 10rem;
    padding-bottom: 10rem;
    margin: 0rem auto 0rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 20px;
    grid-auto-rows: min-content;
    img {
      width: 100%;
      border-radius: 10px;
    }
  }
}

/* Footer */
footer {
  margin-top: 5rem;
  display: flex;
  padding: 3rem 5%;
  flex-wrap: wrap;
  background-color: #f800001a;
  border-top-left-radius: 10rem;
  border-top-right-radius: 10rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer ul {
  display: flex;
  justify-content: space-evenly;
  a img {
    margin: 2rem;
    width: 40px;
  }
}

footer h4 {
  color: #f13d3d;
  font-size: $small;
  font-weight: lighter;
}

@media screen and (max-width: 846px) {
  /* burger Thing */
  .burger {
    position: relative;
    display: block;
    cursor: pointer;
  }
  .burger span {
    padding: 0.2rem 2rem;
    background: #f13d3d;
    margin: 0.5rem 0rem;
    display: block;
    transition: all 0.5s ease;
  }
  .nav-links a {
    color: #f13d3d;
    font-size: $header2;
    text-decoration: underline;
  }
  .nav-links a:hover {
    color: #f13d3d83;
  }

  .nav-links {
    background: #f8ece6;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    flex-direction: column;
    align-items: center;
    transition: transform 1s ease;
  }
  .nav-open {
    transform: translate(-100%);
  }
  .toggle .line1 {
    transform: rotateZ(45deg) translateY(300%);
    background: #f13d3d;
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotateZ(-45deg) translateY(-300%);
    background: #f13d3d;
  }
}
