/* discover - competitor research */
.persona-page {
  width: 100%;
  margin: 5rem auto 0 auto;
  @include flex(center, center, column);
  flex-wrap: wrap;
}
.persona-intro {
  @include flex(center, center, column);
  background: $blue-opacity;
  width: 100%;
  margin: auto;
  h1 {
    font-size: $header1;
    margin-top: 5rem;
    text-align: center;
  }
  h2 {
    font-size: $header4;
    margin-bottom: 3rem;
    text-align: center;
  }
  h3 {
    font-size: 2rem;
  }
  p {
    font-size: 1.8rem;
  }
  .persona-intro-text {
    margin: 0 3rem 0 3rem;
  }
}
.persona {
  width: 80%;
  margin: 10rem auto 0 auto;
  .img-box {
    width: 100%;
  }
  .persona1 {
    margin-bottom: 2rem;
  }
  .persona2 {
    margin-bottom: 2rem;
  }
  img {
    width: 100%;
    object-fit: cover;
  }
}

.back {
  @include flex(center, center, column);
  button {
    padding: 1rem 3rem;
    margin: 5rem 0;
    border: 2px solid #46629e;
    background: none;
    color: $blue-text;
    font-size: 1.8rem;
    cursor: pointer;
  }
  button:hover {
    background: $blue-opacity;
  }
}
