/* project description */
.project-description {
  width: 100%;
  margin: auto;
  background-color: $blue-opacity;
  margin-top: 5rem;
  padding: 10rem 0 10rem 0;
  text-align: center;
  .description-text {
    @include flex(center, center, column);
    width: 80%;
    margin: auto;

    h1 {
      font-size: $big;
      margin-bottom: 5rem;
    }
    p {
      font-size: $text;
      text-align: justify;
    }
  }
}

/* iframe */
.iframe {
  width: 90%;
  margin: 5rem auto 0 auto;
  @include flex(center, center, column);
  iframe {
    border: 3px solid #1e2c4b1e;
    width: 60%;
    height: 700px;
  }
  button {
    margin-top: 2rem;
    padding: 2rem 5rem;
    border: none;
    border-radius: 2rem;
    background: $blue-opacity;
    color: $blue-text;
    font-size: $text;
    cursor: pointer;
  }
  button:hover {
    background: #46629e9c;
  }
}

/* User flow map */
.user-flow-map {
  background: rgba(255, 57, 57, 0.158);
  border-radius: 5rem;

  flex-wrap: wrap;
  width: 90%;

  margin: 5rem auto 0 auto;
  overflow: hidden;
  .initial-user-flow {
    width: 90%;
    margin: 0 auto 0 auto;
    h1 {
      margin: 3rem 0 2rem 0;
      font-size: $header1;
      text-align: center;
    }
    h2 {
      font-size: $header3;
      margin-top: 3rem;
    }
    .task-flow {
      background: khaki;
      border-radius: 7rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 5rem;
      h3 {
        font-size: $text;
        margin-top: 2rem;
        background: $blue-text;
        color: khaki;
        padding: 0.5rem 1rem 0.5rem 1rem;
        border-radius: 2rem;
      }
    }

    .option1 {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      margin: 1rem 0 5rem 0;

      h2 {
        font-size: $small;
        margin: 1rem 0 1rem 0;
        border: 1px #46629e solid;
        padding: 2rem;
        border-radius: 3rem;
      }
      .arrow {
        border: none;
      }
    }
  }
}

@media screen and (max-width: 1113px) {
  .iframe iframe {
    width: 90%;
  }
  .persona-text {
    padding: 0rem 3rem 3rem 3rem;
    h1 {
      font-size: $header2;
      padding-top: 3rem;
    }
    p {
      font-size: 1.8rem;
    }
  }
}
