/* project summery1 */
.project-summery1 {
  width: 100%;
  margin: auto;
  background: $blue-opacity;

  .project-summery1-box {
    @include flex(center, center, column);
    padding: 5rem 5rem;
    margin-top: 5rem;
    h1 {
      font-size: $big;
    }
    h2 {
      font-size: $header4;
      margin-bottom: 3rem;
    }
    p {
      font-size: 18px;
    }
  }
}

/* iframe */
.iframe {
  width: 90%;
  margin: 10rem auto 10rem auto;
  @include flex(center, center, column);
  iframe {
    border: 3px solid #46629e1e;
    width: 60%;
    height: 700px;
    background: white;
  }
}

/* overview */
.overview {
  width: 80%;
  margin: 5rem auto 0 auto;
  padding: 5rem 0;
}
.overview-container {
  @include flex(space-between, flex-start, row);
  flex-wrap: wrap;
  margin: 10rem auto 5rem auto;
}
.box {
  margin: 1rem;
  h1 {
    font-size: $header4;
  }
  h2 {
    font-size: 18px;
  }
}
.below-boxes {
  width: 70%;
  margin: auto;
  h3 {
    font-size: $header4;
    text-align: center;
    margin: 3rem 0;
  }
  p {
    @include flex(center, center, column);
    font-size: $text;
    text-align: justify;
  }
  .iframe-overview {
    @include flex(space-around, center, row);
    flex-wrap: wrap;
    .gif {
      @include flex(center, center, column);
      overflow: hidden;
    }
    h1 {
      font-size: 1.8rem;
      margin-bottom: 1rem;
    }
    p {
      font-size: $small;
      text-align: justify;
      margin-bottom: 3rem;
    }
    .introduction {
      p {
        font-size: $text;
      }
    }
  }
}
/* ux process */
hr {
  background-color: $blue-opacity;
  width: 100%;
  margin: auto;
  height: 0.3rem;
  border: none;
}

/* problem statement */
.problem-statement {
  width: 100%;
  margin: auto;
  background: $blue-opacity;
  padding: 10rem 0;
  .problem-statement-container {
    width: 70%;
    margin: auto;
    h1 {
      text-align: center;
      font-size: $big;
      margin-bottom: 2rem;
    }
    p {
      font-size: $header4;
      text-align: justify;
    }
  }
}

/* define */
.define {
  width: 100%;
  margin: auto;

  .define-container {
    @include flex(center, center, column);
    width: 70%;
    margin: 5rem auto 5rem auto;
    padding: 5rem 0rem;
    overflow: hidden;
    h1 {
      font-size: 10rem;
      margin-bottom: 5rem;
    }
    h2 {
      font-size: $header2;
      align-self: flex-start;
      margin: 0 auto 0.5rem auto;
    }
    p {
      margin: 0.5rem auto 0 auto;
      font-size: $text;
      align-self: flex-start;
      text-align: justify;
    }
    .define-box {
      margin-bottom: 3rem;
    }
  }
}

.social-media-giphy {
  pointer-events: none;
}
/* discover */

.discover {
  width: 100%;
  background: $blue-opacity;
  padding-top: 5rem;

  /* discover - chart */
  .template {
    @include flex(center, center, row);
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    h1 {
      font-size: $header2;
      margin-bottom: 5rem;
    }
  }
  .template-front-img {
    flex: 1 1 40rem;
    width: 70%;
    margin: 5rem auto;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    p {
      font-size: $text;
    }
    a {
      color: $blue-text;
    }
  }
  .persona-img {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    grid-column-gap: 2rem;
  }

  .template-text {
    flex: 1 1 40rem;
    h2 {
      font-size: $header4;
    }
    p {
      font-size: 1.8rem;
      margin: 3rem 0;
      line-height: 1.5;
    }
    button {
      font-size: $small;
      padding: 1rem 3rem;
      border: 2px solid #46629e;
      background: none;
      cursor: pointer;
      color: $blue-text;
    }

    button:hover {
      background: $blue-opacity;
    }
    a {
      color: $blue-text;
    }
  }
  #persona {
    margin-top: 5rem;
  }
  #competitive-section {
    margin-top: 5rem;
  }

  .img-box {
    width: 100%;
  }
  .persona1 {
    margin-bottom: 2rem;
  }
  .persona2 {
    margin-bottom: 2rem;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .hmw {
    margin: 5rem;
    text-align: justify;
    h1 {
      margin-bottom: 2rem;
      font-size: $header1;
    }
    p {
      font-size: $text;
      margin-bottom: 2rem;
    }
  }
}

@media screen and (max-width: 1113px) {
  .iframe iframe {
    width: 90%;
  }
  .persona-text {
    padding: 0rem 3rem 3rem 3rem;
    h1 {
      font-size: $header2;
      padding-top: 3rem;
    }
    p {
      font-size: 1.8rem;
    }
  }
}
