/* project summery1 */
.project-summery1 {
  width: 90%;
  margin: auto;
  background: $blue-opacity;
  border-radius: 5rem;

  .project-summery1-box {
    @include flex(center, center, column);
    padding: 5rem 5rem;
    margin-top: 5rem;
    h1 {
      font-size: $big;
    }
    h2 {
      font-size: $header4;
      margin-bottom: 3rem;
    }
    p {
      font-size: 18px;
    }
  }
}

/* iframe */
.iframe {
  width: 90%;
  margin: 5rem auto 0 auto;
  @include flex(center, center, column);
  iframe {
    border: 3px solid #46629e1e;
    width: 60%;
    height: 700px;
    background: white;
    border-radius: 5rem;
  }
  button {
    margin-top: 2rem;
    padding: 2rem 5rem;
    border: 3px #46629e1e solid;
    border-radius: 2rem;
    background: none;
    color: $blue-text;
    font-size: $text;
    cursor: pointer;
  }
  button:hover {
    background: $blue-opacity;
  }
}

/* overview */
.overview {
  background: $blue-opacity;
  border-radius: 5rem;
  width: 90%;
  margin: 5rem auto 0 auto;
  padding: 5rem 0;
}
.overview-container {
  @include flex(space-around, flex-start, row);
  flex-wrap: wrap;
}
.box {
  margin: 2rem;
  h1 {
    font-size: $header4;
  }
  h2 {
    font-size: 18px;
  }
}
.below-boxes {
  width: 90%;
  margin: 5rem auto 0 auto;
  @include flex(center, center, column);

  h3 {
    font-size: $header4;
    margin-bottom: 2rem;
  }
  p {
    font-size: $text;
    text-align: justify;
    width: 80%;
    margin: auto;
  }
  .iframe-overview {
    width: 90%;
    margin: 5rem auto 0 auto;
    @include flex(space-around, center, row);
    flex-wrap: wrap;
    iframe {
      border-radius: 5rem;
    }
  }
}
/* ux process */
hr {
  background-color: $blue-opacity;
  width: 95%;
  margin: auto;
  height: 0.3rem;
  border: none;
}
/* define */
.define {
  @include flex(center, center, column);
  width: 90%;
  margin: 5rem auto 5rem auto;
  padding: 5rem 0rem;
  border-radius: 5rem;
  background: $blue-opacity;
  overflow: hidden;
  h1 {
    font-size: $big;
    margin-bottom: 5rem;
  }
  h2 {
    font-size: $header2;
    align-self: flex-start;
    margin-left: 5rem;
    width: 95%;
    margin: 0 auto 0.5rem auto;
  }
  p {
    width: 95%;
    margin: 0.5rem auto 0 auto;
    font-size: $text;
    align-self: flex-start;
    text-align: justify;
  }
}

.social-media-giphy {
  pointer-events: none;
}
/* discover */
.discover {
  @include flex(center, center, column);
  width: 90%;
  margin: 5rem auto 0 auto;
  padding-top: 5rem;
  border-radius: 5rem;
  background: $blue-opacity;
  overflow: hidden;
  h1 {
    margin: 0 auto 5rem auto;
    font-size: $big;
  }
  h2 {
    font-size: $header1;
    align-self: flex-start;
    width: 95%;
    margin: 0 auto;
  }
  .discover-container {
    @include flex(center, center, column);
    flex-wrap: wrap;
  }
  .img-box {
    width: 100%;
  }
  .persona1 {
    margin-bottom: 2rem;
  }
  .persona2 {
    margin-bottom: 2rem;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .hmw {
    margin: 5rem;
    text-align: justify;
    h1 {
      margin-bottom: 2rem;
      font-size: $header1;
    }
    p {
      font-size: $text;
      margin-bottom: 2rem;
    }
  }
}

/* User flow map */
.user-flow-map {
  background: $blue-opacity;
  border-radius: 5rem;

  flex-wrap: wrap;
  width: 90%;

  margin: 5rem auto 0 auto;
  overflow: hidden;
  .initial-user-flow {
    width: 90%;
    margin: 0 auto 0 auto;
    h1 {
      margin: 3rem 0 2rem 0;
      font-size: $header1;
      text-align: center;
    }
    h2 {
      font-size: $header3;
      margin-top: 3rem;
    }
    .task-flow {
      background: khaki;
      border-radius: 7rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 5rem;
      h3 {
        font-size: $text;
        margin-top: 2rem;
        background: #f13d3d;
        color: khaki;
        padding: 0.5rem 1rem 0.5rem 1rem;
        border-radius: 2rem;
      }
    }

    .option1 {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      margin: 1rem 0 5rem 0;

      h2 {
        font-size: $small;
        margin: 1rem 0 1rem 0;
        border: 1px #f13d3d solid;
        padding: 2rem;
        border-radius: 3rem;
      }
      .arrow {
        border: none;
      }
    }
  }
}

@media screen and (max-width: 1113px) {
  .iframe iframe {
    width: 90%;
  }
  .persona-text {
    padding: 0rem 3rem 3rem 3rem;
    h1 {
      font-size: $header2;
      padding-top: 3rem;
    }
    p {
      font-size: 1.8rem;
    }
  }
}
