/* project summery1 */
.project-summery1 {
  width: 100%;
  margin: auto;
  background: $blue-opacity;

  .project-summery1-box {
    width: 70%;
    margin: auto;
    @include flex(center, center, column);
    padding: 10rem 0rem;
    margin-top: 5rem;
    text-align: center;
    h1 {
      font-size: $big;
      margin-bottom: 1rem;
    }
    h2 {
      font-size: $header3;
      margin-bottom: 3rem;
    }
    h3 {
      font-size: $header4;
      margin-bottom: 1rem;
    }
    p {
      font-size: $text;
      text-align: justify;
    }
  }
}

/* UI cover */
.UI-cover {
  overflow: hidden;
  width: 100%;
  margin: 0 0 0 auto;
  @include flex(space-between, center, row);
  flex-wrap: wrap;

  img {
    width: 100%;
    object-fit: cover;
  }

  .UI-img {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

/* overview */
.overview {
  margin: 0 auto 5rem auto;
  padding: 0 0rem 0rem 0rem;
}
.boxes {
  width: 100%;
  background: $blue-opacity;
  padding: 10rem 0;
}
.overview-container {
  @include flex(space-between, flex-start, row);
  flex-wrap: wrap;
  width: 60%;
  margin: auto;
}
.box {
  margin: 1rem;

  h1 {
    font-size: $header4;
  }
  h2 {
    font-size: 18px;
  }
}
.below-boxes {
  width: 80%;
  margin: 15rem auto;
  h3 {
    font-size: $header4;
    text-align: center;
    margin: 3rem 0;
  }
  p {
    @include flex(center, center, column);
    font-size: $text;
    text-align: justify;
  }
  .iframe-overview {
    @include flex(space-around, center, row);
    flex-wrap: wrap;

    .gif {
      @include flex(center, center, column);
      overflow: hidden;
      margin: 5rem 0;
    }
    h1 {
      font-size: 1.8rem;
      margin-bottom: 1rem;
    }
    p {
      font-size: $small;
      text-align: justify;
      margin-bottom: 1rem;
    }

    .introduction {
      p {
        font-size: $text;
      }
    }
  }
}
/* ux process */
hr {
  background-color: $blue-opacity;
  width: 100%;
  margin: auto;
  height: 0.3rem;
  border: none;
}

.social-media-giphy {
  pointer-events: none;
}
/* discover */

.discover {
  width: 100%;
  background: $blue-opacity;
  padding-top: 5rem;

  /* discover - chart */
  .template {
    @include flex(center, center, row);
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    h1 {
      font-size: $header2;
    }
  }
  .template-front-img {
    flex: 1 1 40rem;
    width: 70%;
    margin: 5rem auto;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    p {
      font-size: $text;
    }
    a {
      color: $blue-text;
    }
  }
  .persona-img {
    @include flex(center, center, row);
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-column-gap: 2rem;
  }

  .template-text {
    flex: 1 1 40rem;
    h2 {
      font-size: $header4;
    }
    p {
      font-size: $text;
      margin: 3rem 0;
      line-height: 1.5;
    }
    button {
      font-size: 1.8rem;
      padding: 1rem 5rem;
      border: 2px solid #46629e;
      background: none;
      cursor: pointer;
      color: $blue-text;
    }

    button:hover {
      background: $blue-opacity;
    }
    a {
      color: $blue-text;
    }
  }

  /*hypotheses*/
  .hypotheses {
    width: 100%;
    margin: 5rem auto 0rem auto;
    background: $blue-text;
    color: white;
    @include flex(center, center, row);

    .hypotheses-container {
      width: 80%;
      margin: auto;
      padding: 10rem 0;
      h1 {
        font-size: $header1;
        margin-bottom: 2rem;
      }
      p {
        font-size: $text;
        margin-bottom: 1rem;
      }
    }
  }
  #persona {
    margin-top: 5rem;
  }
  #competitive-section {
    margin-top: 5rem;
  }
  #userFlows {
    margin-bottom: 5rem;
    padding-bottom: 5rem;
  }

  .img-box {
    width: 100%;
  }
  .persona1 {
    margin-bottom: 2rem;
  }
  .persona2 {
    margin-bottom: 2rem;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* design section */
.design {
  width: 100%;
}
.fidelityTitle {
  @include flex(center, center, column);
  .fidelityText {
    align-self: flex-start;
    width: 80%;
    margin: auto;
    h1 {
      font-size: $header2;
    }
    h2 {
      font-size: 1.8rem;
      margin-bottom: 1rem;
    }
    p {
      font-size: $small;
    }
  }
  .lowfi {
    @include flex(center, flex-start, row);
    flex-wrap: wrap;
    width: 80%;
    .onboarding,
    .categories,
    .myQuestion,
    .questionCard,
    .shopAndSetting {
      width: 50%;
      flex: 1 1 45rem;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      p {
        font-size: 1.8rem;
        width: 90%;
        margin: auto;
        text-align: justify;
      }
    }
  }
}

/* mid fidelity */
.fidelityTitle {
  margin: 5rem 0;
}
.midFi-container-inner {
  @include flex(center, center, row);
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  .midFi-img {
    @include flex(center, center, row);
    flex: 1 1 40rem;
    img {
      width: 90%;
      object-fit: cover;
    }
  }
  .midFi-wireframe {
    @include flex(center, flex-start, column);
    font-size: $text;
    flex: 1 1 40rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    button {
      font-size: 1.8rem;
      padding: 1rem 5rem;
      border: 2px solid #46629e;
      background: none;
      cursor: pointer;
      color: $blue-text;
      margin-top: 5rem;
    }
    button:hover {
      background: $blue-opacity;
    }
  }
}

/*1st user-testing*/

.UserTesting {
  width: 100%;
  margin: 0rem auto 0rem auto;
  background: $blue-text;
  color: white;
  @include flex(center, center, row);

  .usertesting-container {
    width: 80%;
    margin: auto;
    padding: 10rem 0;
    h1 {
      font-size: $header1;
      margin-bottom: 2rem;
    }
    p {
      font-size: $text;
      margin-bottom: 1rem;
    }
  }
}

/*color-palette*/
.color-palette {
  width: 80%;
  margin: 5rem auto;
  font-size: $header4;
  h1 {
    margin-bottom: 3rem;
  }
  .color-img {
    width: 70%;
    margin: auto;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    p {
      font-size: 1.8rem;
      text-align: justify;
    }
  }
}

/* high fidelity */
.fidelityTitle {
  margin: 5rem 0;
}
.hiFi-container-inner {
  @include flex(center, center, row);
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  .hiFi-img {
    @include flex(center, center, row);
    flex: 1 1 40rem;
    img {
      width: 90%;
      object-fit: cover;
    }
  }
  .hiFi-wireframe {
    @include flex(center, flex-start, column);
    font-size: $text;
    flex: 1 1 40rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    button {
      font-size: 1.8rem;
      padding: 1rem 5rem;
      border: 2px solid #46629e;
      background: none;
      cursor: pointer;
      color: $blue-text;
      margin-top: 5rem;
    }
    button:hover {
      background: $blue-opacity;
    }
  }
}

/* finished product */
.finished-product {
  width: 80%;
  margin: 5rem auto;
  font-size: $header4;

  .mock-up-img {
    width: 100%;
    margin: auto;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

/* evaluation */
.evaluation {
  width: 100%;
  margin: 0rem auto 0rem auto;
  background: $blue-opacity;
  color: $blue-text;
  @include flex(center, center, row);

  .usertesting-container {
    width: 80%;
    margin: auto;
    padding: 10rem 0;
    h1 {
      font-size: $header1;
      margin-bottom: 2rem;
    }
    p {
      font-size: $text;
      margin-bottom: 1rem;
    }
  }
}
/*ipad*/
@media screen and (max-width: 768px) {
  .project-summery1 {
    .project-summery1-box {
      padding: 3rem;
      margin: 0;
      width: 100%;
      h1 {
        font-size: $header2;
      }
      h2 {
        font-size: $header4;
      }
      h3 {
        font-size: 2rem;
      }
      p {
        font-size: 1.8rem;
      }
    }
  }
  .overview {
    .boxes {
      padding: 3rem;
      .overview-container {
        margin: 0;
        width: 100%;
        .box h2 {
          font-size: 1.6rem;
        }
      }
    }
  }

  .below-boxes {
    margin: 0 auto;
    .iframe-overview {
      .gif {
        margin: 1rem;
      }
      .introduction {
        p {
          font-size: 1.8rem;
        }
      }
    }
  }

  .discover {
    padding: 0;
    .template {
      .template-text {
        p {
          font-size: 1.8rem;
        }
        button {
          font-size: 1.8rem;
        }
      }
    }
    .hypotheses {
      .hypotheses-container {
        padding: 3rem 0;
        h1 {
          font-size: $header2;
        }
        p {
          font-size: 1.8rem;
        }
      }
    }
    #competitive-section {
      margin: 0 auto;
    }
  }
  /*color palette*/
  .color-palette {
    .color-img {
      width: 100%;
    }
  }
}
/*UI cover*/
@media screen and (max-width: 888px) {
  .UI-cover {
    width: 100%;
    margin: auto;
  }
}

@media screen and (max-width: 1113px) {
  .iframe iframe {
    width: 90%;
  }
  .persona-text {
    padding: 0rem 3rem 3rem 3rem;
    h1 {
      font-size: $header2;
      padding-top: 3rem;
    }
    p {
      font-size: 1.8rem;
    }
  }
}
