/* Global*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: myriad-pro, sans-serif;
  background-color: #f1f1dc;
  color: #46629e;
  overflow-wrap: break-word;
}

body {
  -webkit-animation: opening 1.1s ease-in-out;
          animation: opening 1.1s ease-in-out;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

/* -------------------------------------------------------------------- */
/* NAV SECTION */
.main-head {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #f1f1dc;
  z-index: 2;
}

nav {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  scroll-padding-top: 20px;
  height: 7vh;
}

#logo {
  -webkit-box-flex: 4;
      -ms-flex: 4 1 20rem;
          flex: 4 1 20rem;
}

#logo a {
  font-size: 3.5rem;
  color: #46629e;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
}

.nav-links a {
  color: #46629e;
  font-size: 2.5rem;
}

.nav-links img {
  width: 3rem;
}

/* -------------------------------------------------------------------- */
/* ABOUT SECTION */
#about {
  padding-top: 10rem;
  width: 90%;
  margin: auto;
}

.about-hero {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
  background-color: #46629e1e;
  border-radius: 5rem;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.about-img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-img .ina-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-text {
  -webkit-box-flex: 3;
      -ms-flex: 3 1 40rem;
          flex: 3 1 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: justify;
  padding: 5rem;
}

.about-text h1 {
  font-size: 5.5rem;
  margin-bottom: 3rem;
}

.about-text p {
  font-size: 2.3rem;
}

/* -------------------------------------------------------------------- */
/* projects */
/* ux ui section */
.uxui {
  width: 90%;
  margin: 5rem auto 0rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
  background-color: #46629e1e;
  border-radius: 5rem;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.uxui h1 {
  width: 90%;
  margin: auto;
  padding-top: 10rem;
  font-size: 5.5rem;
  text-align: center;
}

.uxui .uxui-img {
  margin: 5rem 0 5rem 5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.uxui .uxui-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.uxui .uxui-img p {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 40rem;
          flex: 2 1 40rem;
  font-size: 2.3rem;
  text-align: justify;
}

.uxui .uxui-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 2 48rem;
          flex: 1 2 48rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: justify;
  padding: 5rem;
}

.uxui .uxui-text p {
  font-size: 2.3rem;
}

@media screen and (max-width: 1035px) {
  .uxui .uxui-img {
    margin: 5rem 5rem 0 5rem;
  }
}

@media screen and (max-width: 580px) {
  .uxui .uxui-img {
    margin: 1rem 1rem 0 1rem;
  }
  .uxui .uxui-text {
    padding: 3rem;
  }
}

/* .front-end section */
.front-end {
  width: 90%;
  margin: 5rem auto 0 auto;
  background: #46629e1e;
  border-radius: 5rem;
  overflow: hidden;
}

.front-end h1 {
  text-align: center;
  padding-top: 10rem;
  font-size: 5.5rem;
}

.front-end .project-box2 {
  margin: 5rem 5rem 10rem 5rem;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (minmax(335px, auto))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(335px, auto));
}

.front-end .project-box2 img {
  width: 100%;
  border-radius: 10px;
}

/* -------------------------------------------------------------------- */
/* Footer */
footer {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem 5%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #46629e1e;
  border-top-left-radius: 10rem;
  border-top-right-radius: 10rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer ul a img {
  margin: 2rem;
  width: 40px;
}

footer h4 {
  color: #46629e;
  font-size: 1.6rem;
  font-weight: lighter;
}

/* -------------------------------------------------------------------- */
/* burger media screen */
@media screen and (max-width: 846px) {
  /* burger Thing */
  .burger {
    position: relative;
    display: block;
    cursor: pointer;
  }
  .burger span {
    padding: 0.2rem 2rem;
    background: #46629e;
    margin: 0.5rem 0rem;
    display: block;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .nav-links a {
    color: #46629e;
    font-size: 3.5rem;
    text-decoration: underline;
  }
  .nav-links a:hover {
    color: #46629e1e;
  }
  .nav-links {
    background: #f1f1dc;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: -webkit-transform 1s ease;
    transition: -webkit-transform 1s ease;
    transition: transform 1s ease;
    transition: transform 1s ease, -webkit-transform 1s ease;
  }
  .nav-open {
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
  .toggle .line1 {
    -webkit-transform: rotateZ(45deg) translateY(300%);
            transform: rotateZ(45deg) translateY(300%);
    background: #46629e;
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    -webkit-transform: rotateZ(-45deg) translateY(-300%);
            transform: rotateZ(-45deg) translateY(-300%);
    background: #46629e;
  }
}

/* -------------------------------------------------------------------- */
/* ANIMATIONS */
@-webkit-keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* project description */
.project-description {
  width: 90%;
  margin: auto;
  background-color: #46629e1e;
  border-radius: 5rem;
  margin-top: 5rem;
  padding: 10rem 0 10rem 0;
  text-align: center;
}

.project-description .description-text {
  width: 70%;
  margin: auto;
}

.project-description .description-text h1 {
  font-size: 5.5rem;
  margin-bottom: 5rem;
}

.project-description .description-text p {
  font-size: 2.3rem;
  text-align: justify;
}

/* iframe */
.iframe {
  width: 90%;
  margin: 5rem auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.iframe iframe {
  border: 3px solid #46629e;
  width: 60%;
  height: 700px;
  border-radius: 5rem;
}

.iframe button {
  margin-top: 2rem;
  padding: 2rem 5rem;
  border: none;
  border-radius: 2rem;
  background: #46629e1e;
  color: #46629e;
  font-size: 2.3rem;
  cursor: pointer;
}

.iframe button:hover {
  background: #46629e9c;
}

/* User flow map */
.user-flow-map {
  background: rgba(255, 57, 57, 0.158);
  border-radius: 5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  margin: 5rem auto 0 auto;
  overflow: hidden;
}

.user-flow-map .initial-user-flow {
  width: 90%;
  margin: 0 auto 0 auto;
}

.user-flow-map .initial-user-flow h1 {
  margin: 3rem 0 2rem 0;
  font-size: 4rem;
  text-align: center;
}

.user-flow-map .initial-user-flow h2 {
  font-size: 3rem;
  margin-top: 3rem;
}

.user-flow-map .initial-user-flow .task-flow {
  background: khaki;
  border-radius: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5rem;
}

.user-flow-map .initial-user-flow .task-flow h3 {
  font-size: 2.3rem;
  margin-top: 2rem;
  background: #46629e;
  color: khaki;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 2rem;
}

.user-flow-map .initial-user-flow .option1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1rem 0 5rem 0;
}

.user-flow-map .initial-user-flow .option1 h2 {
  font-size: 1.6rem;
  margin: 1rem 0 1rem 0;
  border: 1px #46629e solid;
  padding: 2rem;
  border-radius: 3rem;
}

.user-flow-map .initial-user-flow .option1 .arrow {
  border: none;
}

@media screen and (max-width: 1113px) {
  .iframe iframe {
    width: 90%;
  }
  .persona-text {
    padding: 0rem 3rem 3rem 3rem;
  }
  .persona-text h1 {
    font-size: 3.5rem;
    padding-top: 3rem;
  }
  .persona-text p {
    font-size: 1.8rem;
  }
}

/* project summery1 */
.project-summery1 {
  width: 90%;
  margin: auto;
  background: #46629e1e;
  border-radius: 5rem;
}

.project-summery1 .project-summery1-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5rem 5rem;
  margin-top: 5rem;
}

.project-summery1 .project-summery1-box h1 {
  font-size: 5.5rem;
}

.project-summery1 .project-summery1-box h2 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.project-summery1 .project-summery1-box p {
  font-size: 18px;
}

/* iframe */
.iframe {
  width: 90%;
  margin: 5rem auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.iframe iframe {
  border: 3px solid #46629e1e;
  width: 60%;
  height: 700px;
  background: white;
  border-radius: 5rem;
}

.iframe button {
  margin-top: 2rem;
  padding: 2rem 5rem;
  border: 3px #46629e1e solid;
  border-radius: 2rem;
  background: none;
  color: #46629e;
  font-size: 2.3rem;
  cursor: pointer;
}

.iframe button:hover {
  background: #46629e1e;
}

/* project-summery2 */
.summery-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.overview {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50rem;
          flex: 1 1 50rem;
}

.accomplishment {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50rem;
          flex: 1 1 50rem;
}

.project-summery2 {
  width: 90%;
  margin: 5rem auto 0 auto;
  border-radius: 5rem;
  background: #46629e1e;
}

.project-summery2 .project-summery2-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5rem 5rem;
  margin-top: 5rem;
}

.project-summery2 .project-summery2-box h1 {
  font-size: 5.5rem;
  margin-bottom: 3rem;
}

.project-summery2 .project-summery2-box h2 {
  font-size: 2.3rem;
}

.project-summery2 .project-summery2-box p {
  font-size: 18px;
  margin-bottom: 1rem;
  line-height: 1.6;
  text-align: justify;
}

/* ux process */
hr {
  background-color: #46629e1e;
  width: 95%;
  margin: auto;
  height: 0.3rem;
  border: none;
}

/* define */
.define {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin: 5rem auto 5rem auto;
  padding: 5rem 0rem;
  border-radius: 5rem;
  background: #46629e1e;
  overflow: hidden;
}

.define h1 {
  font-size: 5.5rem;
  margin-bottom: 5rem;
}

.define h2 {
  font-size: 3.5rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 5rem;
  width: 95%;
  margin: 0 auto 0.5rem auto;
}

.define p {
  width: 95%;
  margin: 0.5rem auto 0 auto;
  font-size: 2.3rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-align: justify;
}

/* discover */
.discover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin: 5rem auto 0 auto;
  padding-top: 5rem;
  border-radius: 5rem;
  background: #46629e1e;
  overflow: hidden;
}

.discover h1 {
  margin: 0 auto 5rem auto;
  font-size: 5.5rem;
}

.discover h2 {
  font-size: 4rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 95%;
  margin: 0 auto;
}

.discover .discover-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.discover .img-box {
  width: 100%;
}

.discover .persona1 {
  margin-bottom: 2rem;
}

.discover .persona2 {
  margin-bottom: 2rem;
}

.discover img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.discover .hmw {
  margin: 5rem;
  text-align: justify;
}

.discover .hmw h1 {
  margin-bottom: 2rem;
  font-size: 4rem;
}

.discover .hmw p {
  font-size: 2.3rem;
  margin-bottom: 2rem;
}

/* User flow map */
.user-flow-map {
  background: #46629e1e;
  border-radius: 5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  margin: 5rem auto 0 auto;
  overflow: hidden;
}

.user-flow-map .initial-user-flow {
  width: 90%;
  margin: 0 auto 0 auto;
}

.user-flow-map .initial-user-flow h1 {
  margin: 3rem 0 2rem 0;
  font-size: 4rem;
  text-align: center;
}

.user-flow-map .initial-user-flow h2 {
  font-size: 3rem;
  margin-top: 3rem;
}

.user-flow-map .initial-user-flow .task-flow {
  background: khaki;
  border-radius: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5rem;
}

.user-flow-map .initial-user-flow .task-flow h3 {
  font-size: 2.3rem;
  margin-top: 2rem;
  background: #f13d3d;
  color: khaki;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 2rem;
}

.user-flow-map .initial-user-flow .option1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1rem 0 5rem 0;
}

.user-flow-map .initial-user-flow .option1 h2 {
  font-size: 1.6rem;
  margin: 1rem 0 1rem 0;
  border: 1px #f13d3d solid;
  padding: 2rem;
  border-radius: 3rem;
}

.user-flow-map .initial-user-flow .option1 .arrow {
  border: none;
}

@media screen and (max-width: 1113px) {
  .iframe iframe {
    width: 90%;
  }
  .persona-text {
    padding: 0rem 3rem 3rem 3rem;
  }
  .persona-text h1 {
    font-size: 3.5rem;
    padding-top: 3rem;
  }
  .persona-text p {
    font-size: 1.8rem;
  }
}

.idea1 {
  width: 90%;
  margin: auto;
}

.whatisflashideas {
  margin-bottom: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.whatisflashideas h1 {
  text-align: justify;
  font-size: 5.5rem;
  margin: 20rem 0 5rem 0;
}

.whatisflashideas p {
  text-align: justify;
  font-size: 2.3rem;
}

.idea1-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #46629e1e;
  width: 100%;
  padding: 10rem 2rem 10rem 2rem;
  margin-top: 20rem;
  border-radius: 5rem;
  text-align: justify;
}

.idea1-1 h1 {
  font-size: 5.5rem;
  padding-bottom: 1rem;
}

.idea1-1 p {
  font-size: 2.3rem;
}

.idea1-1 .warning {
  font-size: 1.6rem;
  margin-top: 1rem;
}

.idea1-1 video {
  padding: 5rem 0rem 10rem 0rem;
  width: 70%;
}

.idea1-description {
  text-align: justify;
  width: 80%;
}

.idea1-description h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.idea1-description p {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.idea1-description .reserch-data {
  margin-bottom: 0;
}

.idea1-description h3 {
  margin-bottom: 1rem;
  font-weight: lighter;
}

@media screen and (max-width: 1100px) {
  .idea1-1 video {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .whatisflashideas h1 {
    font-size: 4rem;
  }
}

@media screen and (max-width: 415px) {
  .idea1-1 h1 {
    font-size: 4rem;
  }
}
/*# sourceMappingURL=style.css.map */